Bio==1.6.2
bioframe==0.6.1
biopython==1.81
h5py==3.10.0
matplotlib==3.8.0
natsort==8.4.0
numpy==1.26.4
pandas==2.2.1
pyfastx==1.1.0
pyranges==0.0.129
pysam==0.22.0
scipy==1.12.0
seaborn==0.13.2
setuptools==68.2.2
statsmodels==0.14.1
tqdm==4.66.1
