/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }


    withName: PrepareSoftware {
        publishDir = [
            [   path: { "${params.outdir}/0_Prepare_Genome/prep" },
                mode: params.publish_dir_mode,
                pattern: "*",
                enabled: false
                // saveAs: { "$meta.prefix$it" }
                //  saveAs: { it.replace("_corrected.nii.gz", "_n4.nii.gz") }
                // enabled: params.outputIntermediate
            ]
        ]
    }

    withName: CUSTOM_GETCHROMSIZES {
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/0_Prepare_Genome/Chrom_sizes" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: 'FASTQC' {
        time = 48.h
        ext.args = '--quiet'
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/QC/FastQC" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: 'FASTQC_FIRST' {
        time = 48.h
        ext.args = '--quiet'
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/QC/FastQC_First" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: 'FASTQC_AFTER' {
        time = 48.h
        ext.args = '--quiet'
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/QC/FastQC_After" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: FASTUNIQ {
        time = 48.h
        ext.args     = { "${flags.fastuniq}" }
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/Deduplicate_fastq" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: FASTQ_DUPAWAY {
        time = 48.h
        ext.args     =  { "${flags.fastq_dupaway}" }
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/Deduplicate_fastq" },
                mode: params.publish_dir_mode,
                pattern: "dedup/*",
                saveAs: { it.replace("dedup/", "") }
            ]
        ]
    }

    withName: SMARTSEQ_FILTER {
        time = 48.h
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/SmartSeq_filter" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }



    withName: TRIMMOMATIC {
        time = 48.h
        ext.args     =  { "${flags.trimmomatic}" }
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/Trimm_fastq" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: 'FASTP' {
        ext.args     =  { "${flags.fastp}" }
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/Trimm_fastq" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }
    
    withName: 'FASTP_ADAPTERS' {
        time = 48.h
        ext.args_adapters     =  { "${flags.fastp_adapters}" }
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/Adapters_removed" },
                mode: params.publish_dir_mode,
                pattern: "*",
                saveAs: { it.replace("fastp.", "") }
            ]
        ]
    }

    withName: 'PEAR' {
        time = 48.h
        ext.args     =  { "${flags.pear}" }
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.2_Bridge_Search/OverlapMergePE_fastq" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: 'BBMAP_BBMERGE' {
        time = 48.h
        ext.args     = ''
        ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.2_Bridge_Search/1.2.1_OverlapMergePE_fastq" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }


    withName: '.*DEBRIDGE.*' {
        time = 48.h
       // ext.args     = ''
       // ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.2_Bridge_Search/1.2.2_Bridge_search_split_RNA-DNA" },
                mode: params.publish_dir_mode
            ]
        ]
    }

    withName: 'RSITES' {
        time = 48.h
       // ext.args     = ''
       // ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/1.1_Preprocessing/Restriction_Sites_processing" },
                mode: params.publish_dir_mode
            ]
        ]
    }

    withName: 'HISAT2_ALIGN' {
        time = 48.h
        ext.args     = '--no-softclip -k 100 --no-discordant --no-mixed --no-spliced-alignment'
        ext.args_rna = { "${flags.hisat_rna}" } ? { "${flags.hisat_rna}" } : '--no-softclip --dta-cufflinks -k 100'
        ext.args_dna = { "${flags.hisat_dna}" } ? { "${flags.hisat_dna}" } : '--no-softclip -k 100 --no-spliced-alignment'
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/2_Alignment/hisat2" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }


    withName: 'HISAT2_BUILD|STAR_GENOMEGENERATE|BOWTIE2_BUILD|BWA_INDEX' {
        publishDir = [
            [   path: { "${params.outdir}/0_Prepare_Genome/Genome_index" },
                // enabled: false
            ]
        ]
    }

    withName: 'HISAT2_EXTRACTSPLICESITES' {
        publishDir = [
            [   path: { "${params.outdir}/0_Prepare_Genome/Extracted_Splice_sites" },
                mode: params.publish_dir_mode,
                // enabled: false
            ]
        ]
    }
    
    

    withName: 'STAR_ALIGN' {
        time = 48.h
        ext.args     = { "${flags.star}" }
        ext.args_rna = { "${flags.star_rna}" } ? { "${flags.star_rna}" } : '--outSAMstrandField intronMotif  --outSAMattributes All   --outSAMtype BAM SortedByCoordinate '
        ext.args_dna = { "${flags.star_dna}" } ? { "${flags.star_dna}" } : '--outSAMstrandField intronMotif  --outSAMattributes All   --outSAMtype BAM SortedByCoordinate '
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/2_Alignment/STAR" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }


    withName: 'BWA_MEM' {
        time = 48.h
        ext.args     = { "${flags.bwa_mem}" }
        ext.args2     = '-F 256'
        ext.prefix = { "${meta.prefix}" }
    }
    
    withName: 'BOWTIE2_ALIGN' {
        time = 48.h
        ext.args     = ''
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/2_Alignment/bowtie2" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: 'BAM_TO_CONTACTS' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/3_Contacts_Tables/3.1_Raw_contacts" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }

    withName: 'FILTER_CONTACTS' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/3_Contacts_Tables/3.2_Filter_contacts" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }

    withName: 'BLACKLIST' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/3_Contacts_Tables/3.3_Blacklist" },
                mode: params.publish_dir_mode,
                pattern: "*.blacklist.tab"
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }

    withName: 'DETECT_STRAND' {
        time = 48.h
       // ext.args     = ''
       // ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/3_Contacts_Tables/3.4_Detect_RNA_strand" },
                mode: params.publish_dir_mode
            ]
        ]
    }

    withName: 'MERGE_REPLICAS' {
        time = 48.h
       // ext.args     = ''
       // ext.prefix   = { "${meta.prefix}" }
        publishDir = [
            [   path: { "${params.outdir}/4_Annotation_and_Normalisation/4.1_Merged_replicas" },
                mode: params.publish_dir_mode
            ]
        ]
    }
    

    withName: 'ANNOTATION' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/4_Annotation_and_Normalisation/4.2_Annotation_Voting_new" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }


    withName: 'NORMALISATION' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/4_Annotation_and_Normalisation/4.3_N2_Normalisation" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }  

    withName: 'NORMALIZE_TREATMENT' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/4_Normalisation/4.3_Normalisation" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }      

    withName: 'GENERATE_BINS' {
        time = 48.h
        // ext.args     = { "${flags.bam_filter}" }
        // ext.prefix = { "${input.baseName}.filtered" }
        publishDir = [
            [   path: { "${params.outdir}/4_Normalisation/4.1_Genomic_Bins" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }

    withName: 'SMOOTH_INPUT' {
        time = 48.h
        publishDir = [
            [   path: { "${params.outdir}/4_Normalisation/4.2_Smoother_Input" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }

    withName: 'MACS2_CALLPEAK' {
        time = 48.h
        ext.args     =  { "${flags.macs2}" }
        ext.prefix   = { "${meta.id}" }
        publishDir = [
            [   path: { "${params.outdir}/5_Peak_Calling/MACS2" },
                mode: params.publish_dir_mode,
                //specify to avoid publishing, overwritten otherwise
                // enabled: false
            ]
        ]
    }



    withName: 'BEDTOOLS_BAMTOBED' {
        time = 48.h
        ext.args     = "-cigar"
        ext.prefix = { "${bam.baseName.split('.filtered')[0]}" }
        publishDir = [
            [   
                //specify to avoid publishing, overwritten otherwise
                enabled: false
            ]
        ]
    }

    withName: 'MULTIQC' {
        time = 48.h
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/QC/MultiQC" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
