/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rnachrom -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {

    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // INPUT OPTIONS:
    input                       = "${projectDir}/assets/samplesheet_test.csv"
    exp_type                    = "redc"
    
    // PROCESSING TOOLS:       --------------------------------------------------------------------------------
    dedup_tool                  = "fastuniq"   // options: "fastq-dupaway", "fastuniq", "clumpify"
    trim_tool                   = "fastp"     // options: "trimmomatic", "bbduk", "cutadapt", "fastp"
    align_tool                  = "hisat2"
    merge_pairedend_tool        = "pear"         // options: "bbmerge", "pear"

    // REFERENCE:              --------------------------------------------------------------------------------
    genome_fasta                = "${launchDir}/test_data/GRCh38.p13.fa"

    // ANNOTATION:             --------------------------------------------------------------------------------
    annot_BED                   = "${launchDir}/test_data/RNA_Chrom_genes_hg38.bedrc"
    annot_GTF                   = "${launchDir}/test_data/gencode.v35.annotation.gtf"
    detect_strand_genes_list    = "${projectDir}/assets/gencode_v43_rpl_genes.txt"       

    // BRIDGE SEARCH:          --------------------------------------------------------------------------------
    bridge_processing           = true
    debridge_tool               = "bitap"     // options: "bitap", "chartools"
    forward_bridge_seq          = "AGTCGGAGCGTTGCCTATCGCATTGATGGTGCTAGGA"
    reverse_bridge_seq          = "TCCTAGCACCATCAATGCGATAGGCAACGCTCCGACT"
    dna_part_processing         = "*"
    rna_part_processing         = "."
    max_mismatches              = 1
    min_rna_dna_parts_length    = 14
    description_sequence        = params.bridge_processing ? "${dna_part_processing}b${forward_bridge_seq}(${max_mismatches})${rna_part_processing}" : ""
    
    // OTHER OPTIONS           --------------------------------------------------------------------------------
    smartseq_filter             = true
    adapters_file               = "${projectDir}/assets/adapters_redc.fa"

    // Max resource options
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
    // Boilerplate options
    outdir                     = null
    publish_dir_mode           = 'copy'
    email                      = null
    help                       = false
    version                    = false
}

process {
   withName: '.*' {
       cpus = 5
       memory = 10.GB
   }
}

flags {
    // COMMAND FLAGS  --------------------------------------------------------------------------------
    fastq_dupaway           = "--format fastq --compare-seq loose"
    trimmomatic             = "SLIDINGWINDOW:5:26 MINLEN:12"
    fastp_adapters          = "-Q -l 0"
    fastp                   = "-5 --correction --cut_window_size 5 --cut_mean_quality 26"
    pear                    = "-p 0.01 -v 20 -n 50"
    hisat_rna               = "--no-softclip --dta-cufflinks -k 100" 
    hisat_dna               = "--no-softclip -k 100 --no-spliced-alignment" 
    
}

env {
    PYTHONNOUSERSITE = 1
}

includeConfig "${projectDir}/conf/base.config"
includeConfig "${projectDir}/conf/modules.config"
